.grade-box {
  color: white;
  padding: 12px;
  border-radius: 10px;
  margin: 10px 0;
  font-weight: bold;
  text-align: center;
}

.progress-container {
  background: #e5e7eb;
  border-radius: 20px;
  overflow: hidden;
  margin: 10px 0;
}

.progress-bar {
  height: 25px;
  background: #22c55e;
  color: white;
  text-align: center;
  line-height: 25px;
  font-weight: bold;
  transition: width 1s;
}

.advice-box {
  margin-top: 15px;
  padding: 12px;
  background: #f1f5f9;
  border-radius: 10px;
  font-weight: bold;
}

button {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  border: none;
  background: #1e3a8a;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}
