* {
  box-sizing: border-box;
  font-family: 'Cairo', Arial, sans-serif;
}

body {
  margin: 0;
  background: #f2f5f9;
  color: #333;
}

.header {
  background: #1e3a8a;
  padding: 15px;
  text-align: center;
}

.school-title {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.container {
  background: #fff;
  width: 90%;
  max-width: 450px;
  margin: 40px auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  text-align: center;
}

h1 {
  color: #1e3a8a;
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 20px;
  font-size: 18px;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
}

input:focus {
  outline: none;
  border-color: #1e3a8a;
}

button {
  background: #1e3a8a;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background: #162f6a;
}

#msg {
  margin-top: 15px;
  color: red;
  font-weight: bold;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
}

th {
  background: #1e3a8a;
  color: white;
}

td {
  background: #f9fafb;
}

.result-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.result-table th,
.result-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.result-table th {
  background: #1e3a8a;
  color: #fff;
}

.total-row {
  background: #e0f2fe;
  font-weight: bold;
}

.section td {
  background: #f1f5f9;
  font-weight: bold;
  text-align: center;
}

.percentage {
  margin-top: 15px;
  font-weight: bold;
  font-size: 18px;
}

@media (max-width: 768px) {

  .result-table,
  .result-table thead {
    display: none;
  }

  .result-table,
  .result-table tbody,
  .result-table tr,
  .result-table td {
    display: block;
    width: 100%;
  }

  .result-table tr {
    background: #ffffff;
    margin-bottom: 12px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,.1);
    padding: 10px;
  }

  .result-table td {
    border: none;
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    font-size: 15px;
  }

  .result-table td::before {
    content: attr(data-label);
    font-weight: bold;
    color: #1e3a8a;
  }

  .section {
    display: none;
  }

  .total-row {
    background: #e0f2fe;
  }
}

.percentage-row td {
  background: #dcfce7;
  color: #166534;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}









